<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AccesoDatos.Properties.Settings.bdBarberiaConnectionString"
            connectionString="Data Source=DESKTOP-RCI24OL\SQLEXPRESS;Initial Catalog=bdBarberia;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="AccesoDatos.Properties.Settings.bdBarberiaConnectionString1"
            connectionString="Data Source=(localdb)\bdFabian;Initial Catalog=bdBarberia;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="AccesoDatos.Properties.Settings.bdBarberiaConnectionString2"
            connectionString="Data Source=JUANPA\SQLEXPRESS;Initial Catalog=bdBarberia;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="AccesoDatos.Properties.Settings.bdBarberiaConnectionString3"
            connectionString="Data Source=DESKTOP-JKD9PQ9;Initial Catalog=bdBarberia;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>